<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <form action="/viewer" method="POST">
            <% if(questions.length> 0){ %>
              <% questions.forEach(question=> { %>
                <div class="content fadeInKiri">
                  <div class="line"></div>
                  <%- helper.typeRender(question._id, question.tipe, question.useWajib, question.useEtc, question.useOpsi,
                    question.body, question.opsiy, question.opsix, question.sl, question.label) %>
                </div>
                <% }) %>
                  <center><button type="submit" class="tombol-md tmb-utama bunder fadeInBawah">Simpan</button></center>
                  <% }else{ %>
                    <div class="info-content fadeInAtas">
                      <p>Belum ada pertanyaan dibuat</p>
                      <p>Klik <strong>Tambah</strong> untuk mulai membuat pertanyaan</p>
                    </div>
                    <% } %>
          </form>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>
            <script src="/js/quesioner-view.js"></script>
  </body>

</html>