<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>DASHBOARD</h1>
              <h3>Welcome <%= user.firstName %>
              </h3>
              <br>
              <p>Jumlah User : <%= estimate.author %>
              </p>
              <p>Jumlah Kuesioner : <%= estimate.qform %>
              </p>
              <p>Jumlah Pertanyaan : <%= estimate.question %>
              </p>
              <br>
              <h4>Rute Lain</h4>
              <div>
                <a href="/publik" class="pending">
                  <button>Publik</button>
                </a>
                <a href="/viewer">
                  <button>Viewer</button>
                </a>
                <a href="/noschema" class="pending">
                  <button>Noschema</button>
                </a>
              </div>
              <br><br>
              <small>
                Terjadi perubahan struktur skema pada versi <strong>1.1.18</strong> dan diharuskan untuk drop collection dan
                data yang tersimpan terhapus.
              </small>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>