<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Log Perubahan</h1>
              <h2>Versi v1.1.0</h2>
              <br>
              <div class="card-block">
                <h3>v1.1.1</h3>
                <p> Use Google OAuth2 as autentication service</p>
                <h3>v1.1.2</h3>
                <p>404 Error Handler</p>
                <h3>v1.1.3</h3>
                <p>Add more modules</p>
                <h3>v1.1.4</h3>
                <p>Update Create Question</p>
                <h3>v1.1.5</h3>
                <p>Set User only see their questions</p>
                <h3>v1.1.6</h3>
                <p>Update Create Quesioner Form</p>
                <h3>v1.1.7</h3>
                <p>Update Public Quesioner</p>
                <h3>v1.1.8</h3>
                <p>Create Question Viewer</p>
                <h3>v1.1.9</h3>
                <p>Update Question Control Menu (View, Edit, Delete)</p>
                <h3>v1.1.10</h3>
                <p>Add NoSchema page for testing</p>
                <h3>v1.1.11</h3>
                <p>Retrofit Add Question</p>
                <h3>v1.1.12</h3>
                <p>Retrofit Add Question</p>
                <p>Disabled non-ready Question</p>
                <p>Disabled some non-ready features</p>
              </div>
            </div>
          </div>
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>On Progress</h1>
              <br>
              <div class="card-block">
                <p>Update Detail, Edit Question Page</p>
                <p>Update Question Type</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>