<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <h1>CHANGE LOG</h1>
        <h2>v1.1.0</h2>
        <h3>v1.1.1 Use Google OAuth2 as autentication service</h3>
        <h3>v1.1.2 404 Error Handler</h3>
        <h3>v1.1.3 Add more modules</h3>
      </div>
      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>