<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="card-container">
          <!-- Menu Item Card -->
          <% if (Menus) { %>
            <% Menus.forEach(menu=> { %>
              <a href="/info<%= menu.link %> ">
                <div class="card-block">
                  <h2>
                    <i class="<%= menu.icon %> "></i>
                    <%= menu.label %>
                  </h2>
                </div>
              </a>
              <% }) %>
                <% } else { %>
                  <% } %>
                    <!-- END Menu Item Card -->
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>