<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <form action="/pertanyaan" method="POST">
            <div class="content fadeInAtas">
              <div class="line"></div>
              <div class="bungkus-content">
                <p class="judul">Pilih Tipe dibawah ini</p>
                <select name="selectType" id="selectType" class="dropdown" required>
                  <option disabled hidden selected>-- Tipe Jawaban</option>
                  <% if(options.length> 0){ %>
                    <% options.forEach(option=> { %>
                      <option value="<%= option.value %> ">
                        <%= option.text %>
                      </option>
                      <% }) %>
                        <% }else{ %>
                          <option value="">tidak ada data</option>
                          <% } %>
                </select>
              </div>
              <div class="bungkus-content edit">
                <label for="body">Pertanyaan</label>
                <input type="text" name="body" id="body" class="text" placeholder="Ketik pertanyaan disini" required>
              </div>
            </div>
            <center>
              <button type="submit" class="tombol-md tmb-utama bunder fadeInBawah">Kirim</button>
            </center>
          </form>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>