<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <form action="/pertanyaan/<%= question._id %>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="content fadeInKiri">
              <div class="line"></div>
              <div class="bungkus-content">
                <h3 class="judul">* Tipe pertanyaan tidak dapat diganti</h3>
                <%- helper.warnMess(question.tipe) %>
              </div>
              <div class="bungkus-content edit">
                <label for="tipe">Tipe Pertanyaan :</label>
                <input type="text" id="tipe" class="text" disabled value="<%= helper.typeChange(question.tipe) %>">
              </div>
              <%- helper.typeEdit(question.tipe, question.body, question.opsiy, question.opsix, question.sl,
                question.label, question.useWajib) %>
                <div class="bungkus-content edit <%= helper.pendWajib(question.tipe) %>">
                  <div class="control-edit">
                    <span class="wajib"><input type="checkbox" <%=helper.isWajibCB(question.useWajib) %> name="useWajib"
                      class="wajibisi"><label class="wajiblabel">Wajib diisi</label></span>
                  </div>
                </div>
            </div>
            <center class="fadeInBawah">
              <button type="submit" class="tombol-md tmb-utama bunder">Simpan</button>
            </center>
          </form>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>
            <script src="/js/add-question-re.js"></script>
            <script src="/js/quesioner-view.js"></script>

  </body>

</html>