<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/js/datatables.min.css" />

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <div class="data-content fadeInKiri">
            <div>
              <% let i=0 %>
                <% if(questions.length> 0){ %>
                  <% questions.forEach(question=> { %>
                    <div id="<%= question._id %> ">
                      <h3>
                        <%= question.body %>
                      </h3>
                      <p>
                        <%= question.selectType %>
                      </p>
                      <p>
                        <%= i+1 %>
                      </p>
                    </div>
                    <br>
                    <% i++ %>
                      <% }) %>
                        <% }else{ %>
                          <p>tidak ada data</p>
                          <% } %>

            </div>
          </div>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>
            <script type="text/javascript" src="/js/datatables.min.js"></script>
            <script>
              $(document).ready(function () {
                $('#dataTable').DataTable({
                  lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                  scrollX: true
                });
              });
            </script>


  </body>

</html>