<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/js/datatables.min.css" />

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>

      <div class="container">
        <div class="row-content">
          <div class="data-content fadeInAtas">
            <!-- responsive table -->
            <% if (questions.length>0) { %>
              <div class="responsive-table">
                <table id="dataTable" class="data-table">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Pertanyaan</th>
                      <th>Tipe</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% questions.forEach((question, index)=> { %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td><a class="pending" href="/pertanyaan/<%= question._id %>">
                            <%= question.body %>
                              <%= (question.useWajib=='on' ? '*' : '' ) %>
                              <%= (question.useEtc=='on' ? '^' : '' ) %>
                          </a></td>
                        <td>
                          <%= helper.typeChange(question.tipe) %>
                        </td>
                        <td>
                          <form action="/pertanyaan/<%= question._id %>" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <a class="pending" href="/pertanyaan/edit/<%= question._id %>"><button type="button"
                                class="tombol tmb-utama bunder"><i class="fas fa-pencil-alt"></i></button></a>
                            <button type="submit" class="tombol tmb-batal bunder"><i
                                class="fas fa-trash-alt"></i></button>
                          </form>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
                <div class="info-content fadeInAtas">
                  <p>Belum ada pertanyaan dibuat</p>
                  <p>Klik <strong>Tambah</strong> untuk mulai membuat pertanyaan</p>
                </div>
                <% } %>

          </div>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>
            <script type="text/javascript" src="/js/datatables.min.js"></script>

            <script>
              $(document).ready(function () {
                $('#dataTable').DataTable({
                  columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                  }],
                  select: {
                    style: 'os',
                    selector: 'td:first-child'
                  },
                  scrollX: true,
                  lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                  language: {
                    lengthMenu: "Tampilkan _MENU_ per halaman",
                    info: "Tampilkan _START_ sampai _END_ dari _TOTAL_ data",
                    search: "Cari : ",
                  }
                });
              });
            </script>

  </body>

</html>