<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <% if (qform) { %>
            <div class="content fadeInKiri">
              <div class="line"></div>
              <!-- Judul -->
              <div class="bungkus-content edit">
                <label for="judul">Judul :</label>
                <input type="text" id="judul" class="text" disabled value="<%= qform.judul %>">
              </div>
              <!-- Subjudul -->
              <div class="bungkus-content edit">
                <label for="subjudul">Deskripsi :</label>
                <textarea name="subjudul" id="subjudul" cols="30" rows="10" disabled><%= qform.subjudul %></textarea>
              </div>
              <div class="bungkus-content edit">
                <!-- Created DateTime -->
                <p>
                  Created : <%= helper.formatDate(qform.createdAt, 'DD MMMM YYYY, h:mm:ss a' ) %>
                </p>
                <!-- Last Update DateTime -->
                <p>Last Updated : <%= helper.formatDate(qform.updatedAt, 'DD MMMM YYYY, h:mm:ss a' ) %>
                </p>
              </div>
            </div>
            <div class="content fadeInKiri">
              <div class="line"></div>
              <div class="bungkus-content edit">
                <p>* Pratinjau kuesioner</p>
              </div>
              <% qform.listQ.forEach(qf=> { %>
                <div class="bungkus-content edit">
                  <div class="nomor-urut">
                    <label>No :</label>
                    <input type="number" class="input-nomor" placeholder="<%= qf.order %> ">
                </div>
                  <%- helper.typeRender(qf._id, qf.tipe, qf.body, qf.opsiy, qf.opsix, qf.sl, qf.label, qf.useWajib) %>
                </div>
                <% }) %>
            </div>
            <center class="fadeInBawah">
              <a href="/kuesioner/edit/<%= qform._id %>/urutan"><button class="tombol-md tmb-utama bunder"><i
                    class="fas fa-pencil-alt"></i> Ubah Urutan</button></a>
            </center>
            <% } else { %>
              <div class="content fadeInAtas">
                <div class="line"></div>
                <div class="bungkus-content edit">
                  <h3>Tidak Ada Data</h3>
                </div>
              </div>
              <% } %>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>
            <script src="/js/quesioner-view.js"></script>

  </body>

</html>