<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <% let i=0 %>
            <% if(qforms.length> 0){ %>
              <% qforms.forEach(qform=> { %>
                <div class="content fadeInAtas" id="<%= qform._id %> ">
                  <div class="line"></div>
                  <div class="bungkus-content edit">
                    <p>
                      <%= i+1 %>
                    </p>
                    <h2>
                      <%= qform.title %>
                    </h2>
                    <p>
                      <%= qform.desc %>
                    </p>
                    <p>
                      <%= qform.body %>
                    </p>
                    <p>Status : <%= qform.status %>
                    </p>
                    <a href="/kuesioner/<%= qform._id %>"><button type="button">Detail</button></a>
                  </div>
                </div>

                <% i++ %>
                  <% }) %>
                    <% }else{ %>
                      <div class="info-content fadeInAtas">
                        <p>Belum ada kuesioner dibuat</p>
                        <p>Klik <strong>Tambah</strong> untuk mulai membuat kuesioner</p>
                      </div>
                      <% } %>

        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>