<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <form action="/kuesioner/urutan" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <div class="content fadeInKiri">
              <div class="line"></div>
              <input type="hidden" name="idF" value="<%= idNext %>">
              <div class="bungkus-content edit">
                <label for="title">Judul : </label>
                <input type="text" id="title" class="text" disabled value="<%= qforms.judul %> ">
              </div>
            </div>

            <% qforms.listQ.forEach((qform, index)=> { %>
              <div class="content fadeInKiri">
                <div class="line"></div>
                <div class="bungkus-content">
                  <div class="nomor-urut">
                    <label>No :</label>
                    <input type="number" name="order" class="input-nomor" value="<%= qform.order %>" required>
                  </div>
                </div>
                <input type="hidden" name="idQ" value="<%= qform.idQ._id %>">

                <%- helper.orderSet(qform.idQ.tipe, qform.idQ.body, qform.idQ.opsiy, qform.idQ.opsix, qform.idQ.sl,
                  qform.idQ.label, qform.idQ.useWajib) %>

                <div class="bungkus-content edit">
                  <label for="tipe">Tipe Pertanyaan :</label>
                  <input type="text" id="body" class="text" value="<%= helper.typeChange(qform.idQ.tipe)%>" readonly>
                </div>
              </div>
              <% }) %>

                <center>
                  <button type="submit" class="tombol-md tmb-utama bunder fadeInBawah">Kirim</button>
                </center>
          </form>
        </div>
      </div>

      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- SCRIPT PARTIALS -->
        <%- include('../partials/script.ejs') %>

  </body>

</html>