<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="card-container">
          <% if(qforms.length>0){ %>
            <% qforms.forEach(qform=> { %>
              <div>
                <h1><%= qform.title %></h1>
                <h3><%= qform.desc %></h3>
                <p>Creator : <%= qform.user.displayName %> </p>
              </div>
              <% }) %>
                <% }else{ %>
                  <p>Tidak Ada Data</p>
                  <% } %>
        </div>
      </div>
      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/script.ejs') %>

  </body>

</html>